<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ekok.fbutourguideapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".FirebaseStart"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tour Guide"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Login.UserType"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".Login.UserLogin" />-->
        <activity android:name=".Travelers.TravelerMain" />
        <activity android:name=".Guides.GuideBasic" />
        <activity android:name=".Guides.GuideContact" />
        <activity android:name=".Guides.GuidePayment" />
        <activity android:name=".Guides.GuideViewRequests" />
        <activity android:name=".Travelers.NewRequest" />
        <activity android:name=".Guides.GuideCalender" />
        <activity android:name=".Guides.GuideViewProfile" />
        <activity android:name=".Login.UserLogin" />
        <activity android:name=".Travelers.RatingActivity" />
    </application>

</manifest>