<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ekok.fbutourguideapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".FirebaseStart"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Login.UserType"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Guides.GuideRequestDetail"
            android:label="Request Detail"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name=".Login.UserLogin" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".Travelers.TravelerViewTrips"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Guides.GuideBasic"
            android:label="Edit Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Guides.GuideContact"
            android:label="Edit Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Guides.GuidePayment"
            android:label="Edit Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Guides.GuideViewRequests"
            android:label="Available Requests"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Travelers.TravelerNewRequest"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
            android:label=" "
            android:screenOrientation="portrait" />
        <activity
            android:name=".Guides.GuideCalender"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Guides.GuideViewProfile"
            android:label="Preview Profile"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name=".Login.UserType"-->
            <!--android:label="Main"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/Theme.Design.NoActionBar"/>-->
        <activity
            android:name=".Travelers.TravelerRating"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Guides.GuidePending"
            android:label="Pending/Accepted Requests"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Guides.GuideAcceptedDetails"
            android:label="Accepted Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Travelers.TravelerViewTripInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Travelers.TravelerNewProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Travelers.TravelerDecide"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Travelers.TravelerPending"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Travelers.TravelerViewGuideProfile"
            android:label=" "
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>